@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant+Garamond:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Cormorant, sans-serif;
    color: #353f36;
    font-size: 120%; 
    background-color: #d5ddc7;
}

h1, h2 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#353f36;
}

/* Header and logo */

#header-outer {
    width: 100%;
    height: 75px;
    border-bottom: #353f36 solid 2px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    line-height: 75px;
}

#menu-outer {
    float: right;
    line-height: 75px;
}

#menu li {
    margin-right: 30px;
    list-style-type: none;
    float: left;
    font-size: 120%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* Parallax image on main page*/

#parallax-image {
    background: url("../images/sushi.jpg");
    width: 100%;
    min-height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: #353f36 solid 2px;
}

#text-inside-image {
    position: absolute;
    left: 10%;
    bottom: 30%;
    background-color: rgba(215,232,186, .7);
    padding: 20px;
    border-radius: 30px;
}

/* Experience japanese tastes text on the main page */

#taste-experience {
    width: 100%;
    text-align: center;
    box-sizing: content-box;
    background-color: whitesmoke;
}

#taste-experience h2, #taste-experience p {
    padding-top: 2%;
    width: 50%;
    margin: 0 auto;
}

#taste-experience p {
    padding-bottom: 2%;
}

/* Menu on the menu page */

#menupage-outer {
    height: auto;
    text-align: center;
}

#our-menu {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

#rolls li {
    list-style-type: none;
    margin-top: 10px;
}

#beverages {
    height: 300px;
    margin-top: 30px;
}

#beverages div {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    margin-top: 30px;
}

#beverages h3 {
    font-family: Cinzel, sans-serif;
}

#beverages li {
    list-style-type: none;
    margin-top: 10px;
}

/* Footer */

footer{
    height: 350px;
    text-align: center;
    border-top: #353f36 solid 2px;
}

/* Google map in footer*/

#where {
    text-align: center;
    padding-top: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 1000px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

/* Social network links */

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 30px;
    padding: 0 50px 0;
    color: #353f36;
}

